body {
    /* 1. Paleta com a Cor de Destaque #63AAB0 /*Azul Esverdeado*/ 
    --cor-primaria: #63AAB0; /*Azul Esverdeado*/
    --cor-secundaria:  #FFD166; /*Amarelo Suave*/
    --cor-confirmar: #2A9D8F; /*Verde Teal*/
    --cor-cancelar: #EF476F; /*Rosa Avermelhado*/
    /* Neutros: */
    --cinza-claro: #EDEDED; /*Cinza Claro*/
    --cinza-escuro: #3B3B3B; /*Cinza Escuro*/
    --neutro: #FFFFFF; /*Branco*/
}

.container__form{
    background-color: var(--cinza-claro);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5rem;
}

/* .form-group{
    display: flex;
    justify-content: space-around;
} */

.container__form h1{
    color: var(--cor-primaria);
}

.botao{
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 1rem;
}

.confirmar{
    background-color: var(--cor-confirmar);
}

.cancelar{
    background-color: var(--cor-cancelar);
}